.ResultsList {
  background: white;
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0.5rem 0.5rem 1rem hsl(0, 0%, 90%);
  margin: 0 0 0 5rem;
  width: calc(100% - 5rem);
}

.ResultsList img {
  display: block;
  margin: 0.625rem auto;
  width: 2.5rem;
}

.ResultsList p {
  text-align: center;
}

.ResultsList .ResultsList-item {
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

.ResultsList .ResultsList-item:hover {
  background: #fef4cd;
}

.ResultsList .ResultsList-item button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: left;
  width: 100%;
}

.ResultsList ul {
  list-style: none;
  padding: 0;
}
